/* Aliases */
:root {
    --filters-bg-color: #E6E4CF;
    --input-color: #f2f1e9;
    --text-color: #200F3B;
    --nav-color: #D8D5AA;
    --card-color: #F2F1E9;
    --input-border-color: #b5b185;
    --input-hover-color: #f4f3ed;
    --page-content-padding: 10px;
}

/* Baseline styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

:link, svg, .card {
    cursor: pointer;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  margin: 0;
}

body {
    margin: 0;
}

main {
    margin-top: 110px;
    margin-bottom: 25px;
}

ul > li {
    list-style: none;
    padding: 0;
}
ul {
    padding: 0;
    margin: 0
}